/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* begin CSS styling */

p {

    font-family: 'Press Start 2P', cursive;
}


.main-container {
    display: flex;
    margin: 0;
    background-color: black;
    flex-direction: column;
    /*visibility: hidden;*/    
}

/*fade in the main container */

.revealMain {
    opacity: 0;
    animation: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;

}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}



.intro-text {
    color: white;
    text-align: center;
    margin-top: 6%;
    font-family: 'Press Start 2P', cursive;
}

span {
    opacity: 0;
    transition: all 0.4s ease;
    color: white;
}

span.fade{
    opacity: 1;
    color: red;

}

.button-column {
    /*background-color: red;*/
    width: 750px;
    height: 150px;
    margin-right: auto;
    margin-left: auto; 
    margin-top: 4%;   
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.scissors-button {
    display: inline-flex;
    background-color: black;
    background-image: url("images/scissors-opened-tool-shape.png");
    background-position: center;
    background-size: cover;    width: 150px;
    justify-content: center;
    align-items: center;
    border: none;

}

.scissors-button:hover,
.rock-button:hover,
.paper-button:hover,
.reset-button:hover {
  transform: scale(1.1);
  border-color: #ff1010;
  box-shadow: 0 0 5rem #ff1010;
  outline: none;

}

.rock-button {
    display: inline-flex;
    background-color: black;
    background-image: url("images/cave-painting.png");
    background-position: center;
    background-size: cover;
    width: 150px;
    border: none;
    justify-content: center;
    align-items: center;
    
}

button:focus {
    outline: none;
}

.paper-button {
    display: inline-flex;
    background-color: black;
    background-image: url("images/document.png");
    background-position: center;
    background-size: cover;   
    width: 150px;
    justify-content: center;
    align-items: center;
    border: white;

    
}

.score-container {
    width: 300px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.player-score {
    display: inline-flex;
    flex-direction: column;
    width: 140px;
    text-align: center;
    border: solid white;
    margin-right: 3%;

}


.computer-score {
    display: inline-flex;
    width: 140px;
    flex-direction: column;
    border: solid white;
    margin-left: 3%;


}

#computer-score-tally {
    margin: auto;
    font-size: 25px;
}

#score-tally {
    margin: auto;
    font-size: 25px;
    
}

#your-score {
    margin: auto;
}


#computer-score {
    margin: auto;
    text-align: center;
}

#score-text-container {
    display: inline-flex;
    /*background-color: beige; */
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto; 
    flex-direction: column;
    color: white;

}

#score-text {
    margin: auto;
    font-size: 20px;
    text-align: center;
}

#round-tracker {
    margin: auto;
    font-size: 15px;
    margin-top: 2%;
}


#play-again{
    margin: auto;

}

.reset-button {
    font-family: 'Press Start 2P', cursive;
    background-color: white;
    padding: 15px;
    margin: auto;
    

}
#play-again {
    background-color: blanchedalmond;
    display: flex;
    position: absolute;
    width: 100%;
    top: 35%;
}

